<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OmppuJaRane add valmistaja</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Lisää valmistaja</h1>
	<div>
		<form th:object="${valmistaja}" th:action="@{savevalmistaja}" action="#" method="post">
		  	<label for="name">Nimi</label>
			<input type="text" id="name" th:field="*{name}" />
			 
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<input class="btn btn-success" type="submit" value="Tallenna"></input>
		</form>
	</div>
</body>
</html>