<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Vaatelista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body style="margin: 20px">
	<table class="table table-striped table-dark table-bordered table-hover table-sm">
	

		<tr>
		    <th>ID</th>
		    <th>Nimi</th>
		    <th>Tyyppi</th>
		    <th>Hinta</th>
		    <th>Valmistaja</th>
		    <th sec:authorize="hasAuthority('ADMIN')">Poista</th>
		    <th sec:authorize="hasAuthority('ADMIN')">Muokkaa</th>
		    
		</tr>
    	<tr th:each = "apparel : ${apparels}">
    		<td th:text="${apparel.id}"></td>
    		<td th:text="${apparel.name}"></td>
    		<td th:text="${apparel.type}"></td>
    		<td th:text="${#numbers.formatDecimal(apparel.price,1,2)}"></td>
    		<td th:text="${apparel.maker.name}"></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-danger" th:href="@{/delete_apparel/{id}(id=${apparel.id})}">🔥</a></td>
    		<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-outline-success" th:href="@{/edit_apparel/{id}(id=${apparel.id})}">✍</a></td>
    	</tr>
     </table>
     <a class="btn btn-info" href="/add_apparel">Lisää vaate</a>
          <a class="btn btn-info" href="/maker_list">Valmistajalista</a>
</body>
</html>