<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vaatelista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body style="margin: 20px">
<div class="col-md-4">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
	</form>
	</div>

	<table class="table table-striped table-dark table-bordered table-hover table-sm">
		<tr>
		    <th>ID</th>
		    <th>Nimi</th>
		    <th>Tyyppi</th>
		    <th>Hinta</th>

		</tr>
    	<th:block th:each = "maker : ${maker}">		
    	 	<tr th:each="apparel : ${maker.apparel}">
    	 		<td th:text="${apparel.id}">id </td>
				<td th:text="${apparel.name}">names </td>
				<td th:text="${apparel.type}">type </td>
				<td th:text="${apparel.price}">price </td>		
			</tr>
           

    	</th:block>
     </table>
     <a class="btn btn-info" href="/maker_list">Palaa takaisin</a>
</body>
</html>