<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vaatelista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body>

	<table class="table table-striped">
		<tr>
		    <th>ID</th>
		    <th>Nimi</th>
		    <th>Tyyppi</th>
		    <th>Hinta</th>
		    <th>Valmistaja</th>
		    <th>Poista</th>
		    <th>Muokkaa</th>
		    
		</tr>
    	<tr th:each = "apparel : ${apparels}">
    		<td th:text="${apparel.id}"></td>
    		<td th:text="${apparel.name}"></td>
    		<td th:text="${apparel.type}"></td>
    		<td th:text="${#numbers.formatDecimal(apparel.price,1,2)}"></td>
    		<td><a class="btn btn-danger" th:href="@{/delete_apparel/{id}(id=${apparel.id})}">🔥</a></td>
    		<td><a class="btn btn-success" th:href="@{/edit_apparel/{id}(id=${apparel.id})}">✍</a></td>
    	</tr>
     </table>
     <a class="btn btn-success" href="/add_apparel">Lisää vaate</a>
          <a class="btn btn-success" href="/maker_list">Valmistajalista</a>
</body>
</html>