<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vaatteen muokkaus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Muokkaa vaatetta</h1>
	<div>
		<form th:object="${apparel}" th:action="@{/update_apparel/{id}(id=${apparel.id})}" action="#" method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
		  	<label for="name">Nimi</label>
			<input type="text" id="name" th:field="*{name}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="type">Tyyppi</label>
			<input type="text" id="type" th:field="*{type}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="price">Hinta</label>
			<input type="text" id="price" th:field="*{price}" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="catlist">Valmistaja</label>
				<select id="catlist" th:field="*{maker}">
					<option th:each="maker: ${makers}" th:value="${maker.id}" th:text="${maker.name}"></option>
				</select>
			<div style="clear: both; display: block; height: 10px;"></div>
			<br>
			<input type="submit" class="btn btn-success"value="Save ✓"></input>
		</form>
	</div>
</body>
</html>