<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>OmppuJaRane</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Tervetuloa Ranen ja Ompun kauppaan 🐶</h1>
	<p>Täältä löydät laadukkaimmat ja muodikkaimmat koiranvaatteet säähän kuin säähän.</p>
	<p>Pääset <a href="/vaatelista">tästä</a> tutustumaan valikoimaamme!</p>
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBqsKDLg9h_DHu-QotgUdVbnoLRilL4DO0kace_J_Kag&s" alt="doggo">
</body>
</html>