<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>List of books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />    
</head>
<body>

	<table class="table table-striped">
		<tr>
		    <th>ID</th>
		    <th>Nimi</th>
		    <th>Tyyppi</th>
		    <th>Hinta</th>
		    <th>Valmistaja</th>
		    
		</tr>
    	<tr th:each = "vaate : ${vaatteet}">
    		<td th:text="${vaate.id}"></td>
    		<td th:text="${vaate.name}"></td>
    		<td th:text="${vaate.type}"></td>
    		<td th:text="${#numbers.formatDecimal(vaate.price,1,2)}"></td>
    		<td th:text="${vaate.valmistaja}"></td>
    		<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${vaate.id})}">🔥</a></td>
    		<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${vaate.id})}">✍</a></td>
    	</tr>
     </table>
     <a class="btn btn-success" href="/add">Lisää vaate</a>
</body>
</html>